aiohttp
aiosignal
altgraph
asgiref
astroid
async-timeout
attrs
autobahn
Automat
autopep8
b2sdk
Babel
beautifulsoup4
boto3
botocore
bs4
build
certifi
cffi
channels
chardet
charset-normalizer
click
cloudinary
colorama
constantly
crispy-bootstrap4
cryptography
cssselect
daphne
dill
distlib
dj-database-url
Django
django-appconf
django-backblaze-b2
django-ckeditor
django-cleanup
django-cloudinary-storage
django-cors-headers
django-crispy-forms
django-environ
django-extensions
django-extra-views
django-filter
django-haystack
django-imagekit
django-js-asset
django-oscar
django-phonenumber-field
django-storages
django-tables2
django-taggit
django-tinymce
django-treebeard
django-widget-tweaks
djangorestframework
docutils
factory-boy
Faker
filelock
frozenlist
future
gunicorn
hyperlink
idna
importlib-metadata
incremental
iniconfig
isort
jaraco.classes
jmespath
keyring
lazy-object-proxy
logfury
lxml
mccabe
more-itertools
multidict
numpy
oauthlib
packaging
pandas
pathlib
pefile
phonenumbers
pilkit
Pillow
pip-tools
platformdirs
pluggy
psycopg2-binary
purl
py
pyasn1
pyasn1-modules
pycodestyle
pycparser
PyDispatcher
PyHamcrest
pyinstaller-hooks-contrib
PyJWT
pylint
pyOpenSSL
pyparsing
pyproject_hooks
PySocks
pytesseract
pytest
python-dateutil
python-dotenv
pytz
pywin32-ctypes
requests
requests-oauthlib
s3transfer
service-identity
six
sorl-thumbnail
soupsieve
sqlparse
toml
tomlkit
tqdm
Twisted
twisted-iocpsupport
txaio
typing_extensions
tzdata
urllib3
virtualenv
whitenoise
wrapt
wheel
yarl
zipp
zope.interface
setuptools
pipdeptree
